# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn

# OS metadata
.DS_Store
Thumbs.db

# Deployment archives
*.tar.gz
*.zip
